*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    overflow-x: hidden;
}
html{
    overflow-x: hidden;
}
.container {
    max-width: 1527px !important;
}
:root{
    --orng: #F16E33;
    --yell: #FCD205;
    --whit: #fcfcfa;
}

.main{
    width: 100%;
    height: auto;
}

/* header sec */
header{
    width: 100%;
    height: 95px;
    border-bottom: .50px solid rgb(226, 226, 226) !important;
}

.containt{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}
.navMenu{
    width: 50%;
    padding-left: 180px;
}
.searchBar{
    width: 25%;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
}
.menu ul li{
    list-style-type: none;
}
.menu ul li a{
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.dropdown-menu{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px !important;
    border: none !important;
    padding: 10px !important;
    width: 200px;
    
}
.dropdown-item{
    font-size: 15px !important;
    border-bottom: .50px solid rgb(226, 226, 226) !important;
    text-align: center;
    padding: 10px !important;
}
.last-link{
    border: none !important;
}
.searchBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: 300px;
}
.serch {
    font-size: 30px;
    color: var(--orng);
}
.menuTag{
    font-size: 20px;
    color: var(--orng);
}
.userTag{
    font-size: 30px;
    color: gray;
}
.menuTagPer{
    width: 90px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgb(226, 226, 226);
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

/* Main banner section1 */
.banners{
    padding-top: 50px;
}
.textArea{
    text-align: start;
    padding-left: 50px;
}
.banHed{
    font-size: 80px;
    font-weight: 700;
    color: var(--orng);
}
.banPara{
    font-size: 28px;
    /* font-weight: 700; */
}
.banImg{
    padding-top: 40px;
}
.btn1{
    width: 140px;
    padding: 10px;
    border: none !important;
    border-radius: 30px;
    background: var(--yell);
    font-size: 17px;
    font-weight: 700;
}

/* Main banner section2 or 3 */

.textArea2{
    text-align: start;
}
.banImg2{
    padding-left: 70px;
}
.sabHed{
    font-size: 50px;
    font-weight: 700;
    color: var(--orng);
}
.sabPara{
    font-size: 20px;
    /* font-weight: 700; */
}
.textArea3{
    text-align: start;
    margin-top: 100px;
}


/* Main banner section4 */
.textArea4{
    text-align: center;
}

/* slider */
.slick-dots {
    top: 305px;
}
.slider{
    height: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.cardSEc{
    margin-top: 30px;
}  
.cardText{
    padding-left: 10px;
    font-weight: 700;
}
.cardText{
    margin-top: 20px;
    margin-bottom: 50px;
   
}
.locImg{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    
}
.ClaImg{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}
.DisPric{
    gap: 10px;
    font-size: 16px;
    font-weight: 700 !important;
}
.priceSec{
    margin-top: 60px;
}

.btnView{
    margin-top: 30px;
    margin-bottom: 50px;
}
.ViewSec{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-title{
    font-size: 18px;
    font-weight: 700 !important;
}
.cardPara{
    font-size: 12px;
    color: #222222;
    font-weight: 400 !important;
}
.card-text2{
    font-size: 14px;
    font-weight: 500 !important;
}
.priceTex{
    font-size: 14px;
    color: #A4A4A4;
}

.DisPric span{
    font-size: 12px;
    font-weight: 500 !important;
}
/* Main banner section5 */
.memberText{
    text-align: center;
}
.banHedMe{
    font-size: 50px;
    font-weight: 1000;
    color: var(--orng);
}
.pakag{
    margin-top: 50px;
}

.pakages{
    height: 650px;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 20px;
    padding: 20px;
    transition: all 0.3s ;

}
.pakagHead{
    margin-bottom: 30px !important;
    text-align: center;
    
}
.pakagHD{
    font-size: 22px;
    font-weight: 700 !important;
    color: var(--orng);
    padding-top: 30px;
}

.priceTg{
    color: var(--yell);
    padding-top: 20px;
    font-size: 32px;
    font-weight: 700 !important;
}
.textPakag{
    font-size: 14px;
    color: #84879E;
    padding-bottom: 30px;
}
.PakageLine{
    width: 250px !important;
    margin: 0 auto;
}
.tremHD{
    text-align: center;
}

.headingTrm{
    font-size: 14px;
    font-weight: 700;
    padding-top: 30px;
}
.tremCheck{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.checkimg{
    padding-left: 5px;
}
.checkimg1{
    padding-left: 5px;
    padding-top: 20px;
}
.checkimg4{
    padding-top: 20px;
}
.checkpara{
    font-size: 14px;
    padding-top: 55px;
}
.checkpara2{
    font-size: 13px;
    padding-top: 22px;
}
.pakageBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.SignUpbtn{
    width: 160px;
    padding: 10px;
    border: none !important;
    border-radius: 30px;
    background: var(--yell);
    font-size: 17px;
    font-weight: 700;
}
.checkpara3-2{
    font-size: 13px;
    padding-top: 53px;
}
.checkpara2-3{
    font-size: 13px;
    padding-top: 40px;
}
.pakages:hover{
    background: var(--orng);
    color: #fcfcfa;
    transform: translateY(-50px);
}
.pakages:hover .pakagHD {
    color: #fcfcfa;
}
.checkpara3-3{
    font-size: 13px;
    padding-top: 50px;
}
.checkpara-3-la{
    font-size: 13px;
    padding-top: 10px;
}


/* footer section5 */

.footHD{
    font-size: 50px;
    text-align: center;
    font-weight: 800 !important;
    color: #fcfcfa;
}
.footBTnSec{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Footbtn1{
    width: 270px;
    padding: 10px;
    border: none !important;
    border-radius: 30px;
    background: var(--yell);
    font-size: 17px;
    font-weight: 700;
}

.footer {
    background-image: url(../Images/footImg1png.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
}
.footer-inner {
    background-image: url(../Images/Rectangle\ 25.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 110px 0 80px;
    background-position: bottom;

}
.ftlinksec{
    padding-top: 193px;
}
.ftcopy{
    text-align: start;
}
.ftpata{
    color: #fcfcfa;
    font-size: 13px;
}
.ftmember{
    text-align: start;
}
.memftHD{
    font-size: 16px;
    font-weight: 700 !important;
    color: white;
}
.ftmemberlink{
    margin-top: 20px;
    line-height: 30px;
}
.ftmemberlink ul li{
    list-style-type: none;
    
}
.ftmemberlink ul li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.ftsociallink{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    margin-top: 20px;
    gap: 20px;
}
.socialD{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ftmember2{
    margin-top: 80px;
}
.ownlD{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #fcfcfa;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
 card benifit section
 */
.mainBF{
    width: 100%;
    height: auto;
    background-image: url(../Images/neboMemberBc.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.beneftHD{
    font-size: 14px;
    font-weight: 700;
    padding-top: 30px;
    text-align: start;
}
.checkpara2{
    font-size: 13px;
    padding-top: 22px;
}
.benepara{
    font-size: 20px;
    padding-top: 10px;
    font-weight: 300 !important;
    text-align: start;
}
.weblinkpara a{
    text-decoration: none;
    color: var(--orng);
}
.weblinkpara a:hover{
    text-decoration: none;
    color: var(--orng);
    font-weight: 700;
}
.beneImg1{
    transform: translateY(-30px);
}
.beneterms{
    border-radius: 30px;
    background-color: #F5F5F5;
}
.benetextarea{
    padding-left: 25px;
}
.beneftHD2{
    font-size: 14px;
    font-weight: 700;
    padding-top: 25px;
    text-align: start;
}

.benelist ul{
    padding: 20px;
}
.dot{
  padding-left: 5px;
}

.otherbenefsec{
    padding-top: 50px;
}

.othHD{
    font-size: 50px;
    font-weight: 700;
    color: var(--orng);
    text-align: center;
    padding-top: 100px;
}

.card-logo {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-img-wrap {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    position: relative;
    border-radius: 20px !important;
}
.card-text-body {
    padding: 20px;
    background-color: #fff;
    height: 270px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card-wrap {
    height: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 50px !important;
}
.card-heading{
    font-size: 18px;
    font-weight: 500px;
    color: var(--orng);
}
.card-para{
    font-size: 16px;
    color: #222222;
}
.card-link{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500px;
    color: var(--orng);
}
.card-link:hover{
    font-size: 17px;
    font-weight: 900px !important;
    color: var(--orng);
}
.card-sction{
    padding-top: 50px;
    padding-bottom: 50px;
}
.card-button-section{
    text-align: center;
}
.qus-para{
    font-size: 20px;
}
.card-heading-section{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
}
.card-para-section{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
.btn-secgtion{
    padding-bottom: 200px !important;
}


/* Responsive */

/* System */
@media  (max-width:1024px){
    .banHed {
        font-size: 49px;
    }
    .banPara {
        font-size: 22px;
    }
    .sabHed {
        font-size: 45px;
    }
    .sabPara {
        font-size: 17px;
    }
    .banHedMe {
        font-size: 45px;
    }
    .banPara {
        font-size: 16px;
    }
    .pakagHD {
        font-size: 15px;
    }
    .priceTg {
        font-size: 28px;
    }
    .textPakag {
        font-size: 12px;
    }
    .headingTrm {
        font-size: 12px;
    }
    .checkpara {
        font-size: 11px;
    }
    .checkpara3-2 {
        font-size: 11px;
    }
    .checkpara2-3 {
        font-size: 11px;
    }
    .checkpara3-3 {
        font-size: 11px;
    }
    .checkpara-3-la {
        font-size: 11px;
        padding-top: 10px;
    }
    .footHD {
        font-size: 40px;
    }
    .SignUpbtn {
        width: 136px;
        font-size: 12px;
    }
    .Footbtn1 {
        width: 221px;
        font-size: 13px;
    }
    .socialD {
        width: 40px;
        height: 40px;
    }
    .ownlD {
        width: 40px;
        height: 40px;
    }
    .ftsociallink {
        gap: 18px;
    }
    /* Crad Beenefit section */
    .benepara {
        font-size: 18px;
    }
    .otherbenefsec {
        padding-top: 0px;
    }
    .card-sction {
        padding-top: 19px; padding-bottom: 24px;
    }
    .othHD {
        font-size: 45px; padding-top: 29px;
    }
    .card-para-section {
        padding-top: 9px; padding-bottom: 0px;
    }
    .btn-secgtion {
        padding-bottom: 15px !important;
    }
    .qus-para {
        font-size: 16px;
    }
}



/* mobile */
@media (max-width:767px){
    .textArea {
        text-align: start;
        padding-top: 30px;
    }
    .banHed {
        font-size: 40px;
    }
    .banHedMe {
        font-size: 29px;
    }
    .banPara {
        font-size: 15px;
    }
    .sabHed {
        font-size: 40px;
        text-align: start;
    }
    .sabPara {
        font-size: 13px;
    }
    .btn1 {
        width: 125px;
        font-size: 13px;
    }
    .banImg {
        padding-top: 40px;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .banImg2 {
        padding: 0;
    }
    .pakageData{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .pakages {
        width: 100%;
    }
    .slid-con{
        margin-top: 20px;
    }
    .banPara {
        font-size: 12px;
    }
    .pakag {
        margin-top: -48px;
    }
    .btnView {
        margin: 0;
    }
    .banners {
        padding-top: 29px;
    }
    .slick-dots {
        top: 220px;
    }
    .footHD {
        font-size: 20px;
    }
    .Footbtn1 {
        width: 160px;
        font-size: 10px;
    } 
    .ftlinksec {
        padding-top: 2px;
    }   
    .ftmember2 {
        margin-top: 41px;
    }
    .footer-inner {
        padding: 0px 0 30px;
    }
    .slid-cont{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .revers{
        display: flex;
        flex-direction: column-reverse;
    }
    .textArea3 {
        text-align: start;
        margin-top: 10px;
    }
    .bene-heading{
        font-size: 19px;
    }
    .benepara {
        font-size: 12px;
    }
    .othHD {
        font-size: 31px;
        padding-top: 2px;
    }
    .card-text-body {
        height: 170px;
    }
    .qus-para {
        font-size: 10px;
    }
    .cardes{
        margin-top: 20px;
    }

}