* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

@font-face {
    font-family: "king bird";
    src: url('../fonts/king-bird.woff');
}

[class^="tab-"] {
    display: none;
}
.box-yy {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.box-yy:focus {
    outline: 0;
}
.box-yy:disabled {
    cursor: auto;
}

[class^="tab-"].active {
    display: block;
}




/* aq */
[class^="step-"] {
    display: none;
}
.show-form {
    display: block !important;
}

/* aq */











html {
    overflow-x: hidden;
}

.tabs-btn-io {
    border: none;
    background-color: transparent;
    font-size: 2.2rem;
    font-weight: 600;
    display: flex;

}

.accor-vv {
    display: none;
}

.bor-b-solid {
    border-bottom: 1px solid rgba(0, 0, 0, .125);

}

.accor-ff {
    background: #F5F5F5;
    border: 1px solid rgba(100, 100, 100, 0.5);
    padding: 23px 35px;
    color: #F16E33;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
}

.accor-para {
    background: #FFFFFF;
    border-right: 1px solid rgba(100, 100, 100, 0.5);
    border-left: 1px solid rgba(100, 100, 100, 0.5);
    border-bottom: 1px solid rgba(100, 100, 100, 0.5);
    padding: 23px 35px;
    color: #34241F;
    font-weight: 400;
    font-size: 2rem;
}

.card-br-bot {
    border-radius: 0px 0px 20px 20px;
}

.card-bor {
    border-radius: 0px 0px 20px 20px;
}

.container {
    max-width: 1527px !important;
}

.ml-10 {
    margin-left: 10px;
}

/* my-css */

.hero-banner {
    padding-top: 127px;
    background-image: url(../images/hero-banner.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.card-ssss {
    border-radius: 30px;
    width: 100%;
    filter: drop-shadow(0px 10px 50px rgba(1, 13, 130, 0.12));
}

.section {
    padding-top: 70px;
}

.sec-wrap {
    background-color: #FEF7F4;
}

.accor-zz.active-io .d-no {
    display: none;
}

.accor-zz.active-io .d-blo {
    display: block;
}

.accor-zz .d-blo {
    display: none;
}

.tabs-btn-io .d-blo {
    display: none;
}

.tabs-btn-io.active .d-blo {
    display: block;
}



.tabs-btn-io:focus {
    outline: none;
}

.flex-g {
    flex-grow: 1;
}


.card-sec {
    padding: 120px 0;
}

.card-wraper {
    background-color: #fff;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.slider .slick-dots {
    height: 20px;
    bottom: 220px;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.mt-35 {
    margin-top: 35px;
}

.slider .slick-dots li {
    width: 5px;
}

.slider .slick-dots li button:before {
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: #ffffff;
    opacity: 0.5;
}

.slider .slick-dots li.slick-active button:before {
    opacity: 1;
    transform: scale(1.3);
}

.slider .slick-dots li button {
    width: auto;
    height: auto;
    padding: 0;
}

.mt-60 {
    margin-top: 60px;
}

.pakages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
}

.pack-sec {
    padding: 114px 0;
    background-image: url('../images/corner-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* my-css */






:root {
    --orng: #F16E33;
    --yell: #FCD205;
    --whit: #fcfcfa;
}

.main {
    width: 100%;
    height: auto;
}

/* header sec */

.header {
    border-bottom: .50px solid rgb(226, 226, 226);
    padding: 10px 0;
}

.nav-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.containt {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

.primary-nav-list {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 0;
}

.primary-nav {
    width: 100%;
}

.primary-nav-list a {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    padding: 0 20px;
}

.navMenu {
    width: 50%;
}



.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
}

.menu ul li {
    list-style-type: none;
}

.menu ul li a {
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.dropdown-menu {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px !important;
    border: none !important;
    padding: 10px !important;
    /* width: 200px; */

}

.dropdown-item {
    font-size: 15px !important;
    border-bottom: .50px solid rgb(226, 226, 226) !important;
    text-align: center;
    padding: 10px !important;
}

.last-link {
    border: none !important;
}

.searchBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.icons {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.serch {
    font-size: 22px;
    color: var(--orng);
}

.menuTag {
    font-size: 20px;
    color: var(--orng);
}

.userTag {
    font-size: 30px;
    color: gray;
}

.menuTagPer {
    width: 90px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgb(226, 226, 226);
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

/* Main banner section1 */
.banners {
    padding-top: 50px;
}

.textArea {
    text-align: start;
    padding-left: 50px;
}

.banHed {
    font-size: 80px;
    font-weight: 700;
    color: var(--orng);
}

.banPara {
    font-size: 28px;
    /* font-weight: 700; */
    line-height: 1.5;
}

.banImg {
    padding-top: 40px;
}

.btn1,
.btn1:hover {
    padding: 15px 27px;
    border: none !important;
    border-radius: 30px;
    background: var(--yell);
    font-size: 17px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}


/* Main banner section2 or 3 */

.textArea2 {
    text-align: start;
}

.banImg2 {
    padding-left: 70px;
}

.sabHed {
    font-size: 50px;
    font-weight: 700;
    color: var(--orng);
    margin-bottom: 39px;
}

.sabPara {
    font-size: 20px;
    margin-bottom: 39px;
    line-height: 1.5;
    /* font-weight: 700; */
    padding-right: 48px;
}


.sabPara2 {
    font-size: 20px;
    margin-bottom: 35px;
    line-height: 1.5;
    padding: 0 205px;

}

.textArea3 {
    text-align: start;
}


/* Main banner section4 */
.textArea4 {
    text-align: center;
}

/* slider */

.slider {
    /* height: 100%; */
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}



.cardText {
    /* padding-left: 10px;
    font-weight: 700; */
    padding: 15px 20px;
    min-height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.locImg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;

}

.ClaImg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

.DisPric {
    font-size: 16px;
    font-weight: 700 !important;
    margin-bottom: 0;
}



.btnView {
    margin-top: 30px;
    margin-bottom: 50px;
}

.ViewSec {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title {
    font-size: 18px;
    font-weight: 700 !important;
}

.cardPara {
    font-size: 12px;
    color: #222222;
    font-weight: 400 !important;
}

.card-text2 {
    font-size: 14px;
    font-weight: 500 !important;
}

.priceTex {
    font-size: 14px;
    color: #A4A4A4;
    margin-bottom: 0;
}

.DisPric span {
    font-size: 12px;
    font-weight: 500 !important;
    margin-right: 5px;
}

/* Main banner section5 */
.memberText {
    text-align: center;
}

.banHedMe {
    font-size: 50px;
    font-weight: 700;
    color: var(--orng);
}

.pakag {
    margin-top: 50px;
}

.pakages {
    min-height: 610px;
    width: 100%;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    border-radius: 20px;
    padding: 35px 35px 50px;
    transition: all 0.3s;
    box-shadow: -1px 3px 20px -10px rgba(0,0,0,0.83);
    -webkit-box-shadow: -1px 3px 20px -10px rgba(0,0,0,0.83);
    -moz-box-shadow: -1px 3px 20px -10px rgba(0,0,0,0.83);
}

.pakagHead {
    margin-bottom: 30px !important;
    text-align: center;

}

.pakagHD {
    font-size: 22px;
    font-weight: 700 !important;
    color: var(--orng);
    padding-top: 30px;
}

.priceTg {
    color: var(--yell);
    padding-top: 20px;
    font-size: 32px;
    font-weight: 700 !important;
}

.textPakag {
    font-size: 14px;
    color: #84879E;
    padding-bottom: 30px;
}

.PakageLine {
    margin: 0 auto;
    max-width: 92%;
}

.tremHD {
    text-align: center;
}

.headingTrm {
    font-size: 14px;
    font-weight: 700;
    padding-top: 30px;
}

.tremCheck {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.checkimg {
    padding-left: 5px;
}

.checkimg1 {
    padding-left: 5px;
    padding-top: 20px;
}

.checkimg4 {
    padding-top: 20px;
}

.checkpara {
    font-size: 14px;
    padding-top: 24px;
}

.checkpara2 {
    font-size: 13px;
}

.pakageBtn {
    text-align: center;
}

.SignUpbtn {
    width: 160px;
    padding: 10px;
    border: none !important;
    border-radius: 30px;
    background: var(--yell);
    font-size: 17px;
    font-weight: 700;
}

.checkpara3-2 {
    font-size: 13px;
    padding-top: 53px;
}

.checkpara2-3 {
    font-size: 13px;
}

.pakages:hover {
    background: var(--orng);
    color: #fcfcfa;
    transform: translateY(-30px);
}

.pakages:hover .pakagHD {
    color: #fcfcfa;
}

.pakages:hover .textPakag {
    color: #fcfcfa;
}

.pakages:hover .PakageLine {
    border-color: #fcfcfa;
}

.checkpara3-3 {
    font-size: 13px;
    padding-top: 50px;
}

.checkpara-3-la {
    font-size: 13px;
    padding-top: 10px;
}


/* footer section5 */

.footHD {
    font-size: 50px;
    text-align: center;
    font-weight: 800 !important;
    color: #fcfcfa;
}

.footBTnSec {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footbtn1 {
    width: 270px;
    padding: 10px;
    border: none !important;
    border-radius: 30px;
    background: var(--yell);
    font-size: 17px;
    font-weight: 700;
}

.footer {
    background-image: url(../images/footImg1png.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.footer-inner {
    background-image: url(../images/footer-bottom.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 58%;
    padding: 110px 0 80px;
    background-position: bottom;

}

.ftlinksec {
    padding-top: 193px;
}

.ftcopy {
    text-align: start;
}

.ftpata {
    color: #fcfcfa;
    font-size: 13px;
}

.ftmember {
    text-align: start;
}

.memftHD {
    font-size: 16px;
    font-weight: 700 !important;
    color: white;
}

.ftmemberlink {
    margin-top: 20px;
    line-height: 30px;
}

.ftmemberlink ul li {
    list-style-type: none;

}

.ftmemberlink ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.ftsociallink {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    margin-top: 20px;
    gap: 20px;
}

.socialD {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ftmember2 {
    margin-top: 80px;
}

.ownlD {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #fcfcfa;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
 card benifit section
 */
.mainBF {
    width: 100%;
    height: auto;
    background-image: url(../Images/neboMemberBc.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.beneftHD {
    font-size: 14px;
    font-weight: 700;
    padding-top: 30px;
    text-align: start;
}

.checkpara2 {
    font-size: 13px;
}

.benepara {
    font-size: 20px;
    padding-top: 10px;
    font-weight: 300 !important;
    text-align: start;
}

.weblinkpara a {
    text-decoration: none;
    color: var(--orng);
}

.weblinkpara a:hover {
    text-decoration: none;
    color: var(--orng);
    font-weight: 700;
}

.beneImg1 {
    transform: translateY(-160px);
}

.beneterms {
    border-radius: 30px;
    background-color: #F5F5F5;
    transform: translateY(-200px);
}

.benetextarea {
    padding-left: 25px;
}

.beneftHD2 {
    font-size: 14px;
    font-weight: 700;
    padding-top: 25px;
    text-align: start;
}


.benelist ul {
    padding: 20px;
}

.dot {
    padding-left: 5px;
}

/* .otherbenefsec{
    padding-top: 50px;
} */

.othHD {
    font-size: 50px;
    font-weight: 700;
    color: var(--orng);
    text-align: center;
    /* padding-top: 100px; */
}

.card-logo {
    height: 120px;
    width: 120px;
    border-radius: 100%;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* !!!!!=======other-pages======!!!!!! */


html {
    font-size: 10px !important;
}

body {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1rem !important;
    line-height: 1.2 !important;
}

p {
    margin-bottom: 0;
}

ul {
    margin-bottom: 0;
}

.container {
    max-width: 1527px !important;
    width: 100% !important;
    margin: 0 auto;

}

.sec-po {
    background-image: url(../images/bg1-about.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #F16E33;
}

.-top-250 {
    top: -250px;
}

.-top-170 {
    top: -170px;
}

.ool-hd {
    font-style: normal;
    font-weight: 700;
    font-size: 6rem;
    color: #FFFFFF;
    line-height: 1.5;
}

.ool-para {
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.5;
}

.text-c {
    text-align: center;
}

.pad-ool {
    padding: 23px 242px;
}

.rr-hd {
    font-style: normal;
    font-weight: 700;
    font-size: 5rem;
    color: #F16E33;
}

.white-io {
    color: #ffffff;
}

.dark-io {
    color: #34241F;
}

.orange-io {
    color: #F16E33;
}

.j-c {
    justify-content: center;
}

.item-c {
    align-items: center;
}

.text-rr {
    padding-right: 50px;
}

.pb-30 {
    padding-bottom: 30px;
}

.sec-lo {
    background-image: url(../images/about-ce.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 267px;
}

.pad-lo {
    padding: 0px 308px;
}

.eff-image {
    background-image: url(../images/eff-parent.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 143px;
    width: 230px;
    margin-bottom: 21px !important;
}

.rel {
    position: relative;
}

.pp-image {

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img-wrap {
    position: relative;
}

.card-img-wrap img {
    border-radius: 10px 10px 0 0;
}

.card-text-body {
    border-radius: 0 0 10px 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;

}

.card-wrap {
    height: 100%;
    box-shadow: rgb(152 152 156 / 35%) 0px 10px 20px 0px;
    border-radius: 10px;
}

.card-heading {
    font-size: 1.8rem;
    font-weight: 500;

}

.card-para {
    font-size: 16px;
    color: #222222;
    min-height: 100px;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.card-link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500px;
    color: var(--orng);
}

.card-link:hover {
    font-size: 17px;
    font-weight: 900px !important;
    color: var(--orng);
}

.card-sction {
    padding-bottom: 27px;
}

.card-button-section {
    text-align: center;
}

.qus-para {
    font-size: 20px;
}

.card-heading-section {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
}

.card-para-section {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.btn-secgtion {
    padding-bottom: 123px !important;
    padding-top: 39px;
}

.-top-100 {
    top: -100px;
}

.b-radius {
    border-radius: 30px;
}

.p-20 {
    padding: 20px;
}



.ttt-hd {
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.mx-auto {
    margin: 0 auto;
}

.lo-span {
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
}

.blue-io {
    color: #367CF4;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-177 {
    padding-bottom: 177px;
}

.pb-55 {
    padding-bottom: 55px;
}

.bg-card {
    background-size: 100%;
    background-repeat: no-repeat;
    height: 498px;
    border-radius: 30px;
}

.bg-c-one {
    background-image: url(../images/card-mem-1.png);
}

.bg-c-two {
    background-image: url(../images/card-mem-2.png);
}

.bg-c-three {
    background-image: url(../images/card-mem-3.png);
}

.text-xxx {
    position: absolute;
    bottom: 5%;
    left: 5%;
    right: 5%;
}

.pt-30 {
    padding-top: 30px;
}

.mt-100 {
    margin-top: 100px;
}

.mb-100 {
    margin-bottom: 100px;
}

.sec-ee {
    background-image: url(../images/bg-ww.png), url(../images/bg-xx.png);
    background-position: right top, left bottom;
    background-repeat: no-repeat, no-repeat;
}

.item-e {
    align-items: end;
}

.h-514 {
    height: 514px;
}

.h-694 {
    height: 694px;
}

.box-ww {
    height: 50px;
    width: 50px;
    border: 2px solid #AAAAAA;
    border-radius: 100%;
}

.kk-hd {
    font-weight: 600;
    font-size: 1.4rem;
    color: #AAAAAA;
}

.active {
    color: #F16E33 !important;
    border-color: #F16E33 !important;
    text-decoration: none;

}

.bg-orange-io {
    background: rgb(255 237 229) !important;
}

.bg-gray-io {
    background: rgb(241 241 241);
}

.gray-io {
    color: #AAAAAA;
}

.b-dashed-io {
    border-bottom: 2px dashed #AAAAAA;
    position: absolute;
    top: 25%;
    width: calc(100% + -109px);
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;

}

.j-s {
    justify-content: space-between;
}

.box-sign-io {
    background-color: #F5F5F5;
    border-radius: 20px;
    padding: 60px;
}

.ll-hd {
    font-weight: 400;
    font-size: 1.6rem;
    padding-bottom: 10px;
    line-height: 1.5;
}

.input-ff {
    background-color: white;
    height: 50px;
    border: 1px solid rgba(34, 34, 34, 0.7);
    border-radius: 4px;

}

.input-ff input {
    border: none;
    padding: 12px;
    font-weight: 400;
    font-size: 1.6rem;
}

.input-ff input:focus {
    font-weight: 400;
    font-size: 1.6rem;

}

.input-ff input:focus-visible {
    outline: unset;
}


.input-ff input::placeholder {
    font-weight: 400;
    font-size: 1.6rem;
}

.pt-10 {
    padding-top: 10px;
}

.ee-hd {
    padding: 10px 20px;
    background-color: white;
    background: #FFFFFF;
    border: 2px solid rgba(34, 34, 34, 0.7);
    border-radius: 4px;
    font-weight: 400;
    font-size: 1.6rem;
}

.bg-white-io {
    background-color: white;
}

.box-xx {
    width: 428px;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(1, 13, 130, 0.12);
    border-radius: 10px;
    padding: 50px 30px;
}

.mt-24 {
    margin-top: 24px;
}

.cc-hd {
    font-size: 4rem;
    font-weight: 700;
    color: #F16E33;
}

.b-solid-io {
    border: 1px solid #E3E3E3;
    margin: 24px 0;
}

.dark-rr {
    color: #34241f91;
}

.mb-35 {
    margin-bottom: 35px;
}

.btn-uu {
    background: linear-gradient(0deg, #FCD205, #FCD205), #222222;
    border-radius: 8px;
    border: none;
    width: 100%;
    padding: 15px 0;
    font-weight: 700;
    font-size: 1.6rem;
}

.btn-rr {
    background: linear-gradient(0deg, #FCD205, #FCD205), #222222;
    border-radius: 100px;
    border: 1px solid #FCD205;
    padding: 15px 27px;
    font-weight: 700;
    font-size: 1.8rem;
}

.j-e {
    justify-content: end;
}

.item-s {
    align-items: start;

}

.btn-qq {
    padding: 8px 15px;
    font-size: 1.4rem;
    background: linear-gradient(0deg, #FCD205, #FCD205), #222222;
    border-radius: 100px;
    border: 1px solid #FCD205;
    font-weight: 700;
    margin-right: 10px;
}

.py-50 {
    padding: 50px 0;
}

.my-30 {
    margin: 30px 0;
}

.date-icon {
    margin-right: 10px;
}

.my-100 {
    margin: 100px 0;
}

.py-100 {
    padding: 100px 0;
}

.font-king {
    font-family: 'king bird';
}

.blue-io {
    color: #367CF4;
}

.text-mm li {
    list-style: none;
}

.text-dd {
    background: #F5F5F5;
    border-radius: 20px;
    padding: 40px 85px;
}

.mt-50 {
    margin-top: 50px;
}

.www-hd {
    font-weight: 700;
    font-size: 3rem;
}

.bg-dark-gray-io {
    background-color: #E0E0E0;
}

.fff-icon {
    font-size: 20px;
    color: #F16E33;
}

.accor-io {
    box-shadow: 0px 10px 50px rgba(1, 13, 130, 0.12);
    background: #F5F5F5;
}

.accor-card {
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.card-bor-top {
    border-radius: 20px 20px 0 0;
}

.fff-span {
    font-weight: 500;
    font-size: 1.8rem;
    color: #666666;
}

.text-ppp {
    padding: 28px;
    border-top: 1px solid #DDDDDD;

}

.box-ggg {
    border: 1px solid #DDDDDD;
    border-radius: 20px;
    width: 381px;
}

.bbb-hd {
    font-weight: 500;
    font-size: 2.8rem;
    color: #000000;
}

.mr-14 {
    margin-right: 14px;
}

.-mt-135 {
    margin-top: -135px;
}

.ss-hd {
    font-size: 2.2rem;
    font-weight: 600;
}

.d-none-io {
    display: none;
}




/* Benefits cards and card */
.benefints-cards {
    margin-top: 83px;

}

.cards-heading {
    font-size: 18px;
    font-weight: 600px;
}

.card-para2 {
    padding-top: 30px;
    font-size: 16px;
    color: #222222;
}

.cards-sction {
    padding-top: 20px;
    padding-bottom: 10px;
}

.card-logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mb-20 {
    margin-bottom: 20px;
}

/*programmes section */
.-top-2500 {
    top: 72px;
    padding-bottom: 50px;
}

.pg-bg-c-one {
    background-image: url(../images/pg-card-1.png);
    background-size: cover;
}

.pg-bg-c-two {
    background-image: url(../images/pg-card-2.png);
    background-size: cover;
}

.pg-bg-c-three {
    background-image: url(../images/pg-card-3.png);
    background-size: cover;
}

.pg-bg-c-four {
    background-image: url(../images/pg-card-4.png);
    background-size: cover;
}

.question-section {
    margin-top: 160px;
}

.para-bold {
    font-weight: 600;
}

.prog-para {
    text-align: center;
}

.p_g-para {
    font-size: 20px;
}

.pg-pa {
    padding-top: 39px;
}

.pg-bg-c-two-wr {
    background-image: url(../images/pinkcard.png);
    background-size: cover;
}

.p-50 {
    padding: 50px;
}

/* work-ready2 */
.img-fluid-w-r {
    max-width: 100%;
    height: auto;
    transform: translateY(-177px);
}

.wr-banImg {
    padding-top: 0;
}

.wr-banHed {
    font-size: 40px;
    font-weight: 700;
    color: var(--orng);

}

.pack-sec-wkrd {
    padding: 62px 0;
    background-image: url(../images/corner-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.wr-ry-para {
    padding-top: 55px;
    padding-right: 46px;
}

.wok-banpara {
    font-size: 20px;
    line-height: 1.5;
    padding: 0 10px;
}

.wok-banpara2 {
    font-size: 20px;
    line-height: 1.5;
    padding: 0 10px;
    font-style: italic;
}

.card-heading-section2 {
    text-align: center;
}

.-top-25000 {
    top: 50px;
    padding-bottom: 50px;
}

.btn-secgtion2 {
    padding-bottom: 55px !important;
    padding-top: 32px;
    display: flex;
}

.wr-ry-para-e {

    padding-right: 46px;
}


/* events details */
.wok-banpara-e {
    font-size: 16px;
    line-height: 1.5;
    padding: 0 10px;
}

.icon-tages {
    padding-right: 10px;
}

.wok-banpara-ed {
    font-size: 20px;
    line-height: 1.5;
    padding: 0px 5px;
}

.event-dt-trem {
    margin-top: 39px;
}

.event-hd {
    font-size: 26px;
    font-weight: 900px;
}

.ev-trem-list {
    margin-top: 13px;
    margin-left: 30px;
}

.ev-trem-list ul li {
    font-size: 18px;
}

.fav-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
}

.sport-sec {
    margin-left: 25px;
}

.fv-sp-hd {
    font-size: 18px;
    font-weight: 800;
}

.fv-sp-hd2 {
    font-size: 34px;
    font-weight: 800;
    transform: translateY(-10px);
}

.active-fv {
    color: var(--orng);
    font-size: 16px;
    font-weight: 800;
}

.tex-fv-link {
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
}

.tex-fv-link a {
    text-decoration: underline;
    color: black;
}

.tex-fv-link a:hover {
    color: var(--orng);
}

.share-sec {
    display: flex;
    gap: 10px;
    align-items: center;
}

.share-sp-hd {
    font-size: 16px;
    text-decoration: underline;
}

.event-card {
    margin-left: 63px;
}

.wr-ry-para-evt {
    padding-right: 147px;
}

.work-banner-evnt {
    padding-top: 53px;
}

.image-areas {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 31px;
}

.gm-img-1 {
    width: 29%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .gm-img-1{width: 25%;  background-repeat: no-repeat; background-size: cover;} */
.gm-img-3 {
    width: 13%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

/* .gm-img-1{width: 29%; background-repeat: no-repeat; background-size: cover; } */
.ftbal-img {
    width: 8%;
    padding-bottom: 22px;
}

.princ-img {
    width: 8%;
}


.gm-img-1 img,
.gm-img-3 img {
    width: 100%;
}

.gm-img-1,
.gm-img-3 {
    padding: 0 5px;
}

.ftbal-img,
.princ-img {
    width: 100%;
}




/* user form card UN */
.fm-in-para {
    font-size: 20px;
    padding: 29px 15px;
    font-weight: 400;
}

.fm-icon-tag {
    padding-left: 17px;
}

.volmicon {
    padding-left: 13px;
}

.fm-icons {
    padding-bottom: 25px;
}

.fm-btn-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.btn1-fm,
.btn1-fm:hover {
    padding: 15px 120px;
    border: none !important;
    border-radius: 30px;
    background: var(--yell);
    font-size: 17px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}

.work-banner3 {
    margin-bottom: -70px;
}

.wr-banHed-fn {
    padding-right: 20px;
}

.card-heading-section2-fm {
    padding-bottom: 50px;
}

.card-ssss {
    border-radius: 30px;
    width: 100%;
    filter: drop-shadow(0px 10px 50px rgba(1, 13, 130, 0.12));
}

.text-xxx {
    position: absolute;
    bottom: 5%;
    left: 5%;
    right: 5%;
}

/*suscribe UN  */
.sb-in-para {
    font-size: 20px;
    padding-top: 55px;
    padding-bottom: 55px;
    padding-left: 5px;
    padding-right: 4px;
    font-weight: 400;
}

/* unair new css */
.paraggrap{
    padding-top: 39px;
}
.bannn3para{
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}



/* Responsive */

/* System */
@media (max-width:1024px) {
    .banHed {
        font-size: 49px;
    }

    .banPara {
        font-size: 22px;
    }

    .sabHed {
        font-size: 45px;
    }

    .sabPara {
        font-size: 17px;
    }

    .banHedMe {
        font-size: 45px;
    }

    .banPara {
        font-size: 16px;
    }

    .pakagHD {
        font-size: 15px;
    }

    .priceTg {
        font-size: 28px;
    }

    .textPakag {
        font-size: 12px;
    }

    .headingTrm {
        font-size: 12px;
    }

    .checkpara {
        font-size: 11px;
    }

    .checkpara3-2 {
        font-size: 11px;
    }

    .checkpara2-3 {
        font-size: 11px;
    }

    .checkpara3-3 {
        font-size: 11px;
    }

    .checkpara-3-la {
        font-size: 11px;
        padding-top: 10px;
    }

    .footHD {
        font-size: 40px;
    }

    .SignUpbtn {
        width: 136px;
        font-size: 12px;
    }

    .Footbtn1 {
        width: 221px;
        font-size: 13px;
    }

    .socialD {
        width: 40px;
        height: 40px;
    }

    .ownlD {
        width: 40px;
        height: 40px;
    }

    .ftsociallink {
        gap: 18px;
    }

    /* Crad Beenefit section */
    .benepara {
        font-size: 18px;
    }

    .otherbenefsec {
        padding-top: 0px;
    }

    .card-sction {
        padding-top: 19px;
        padding-bottom: 24px;
    }

    .othHD {
        font-size: 45px;
        padding-top: 29px;
    }

    .card-para-section {
        padding-top: 9px;
        padding-bottom: 0px;
    }

    .btn-secgtion {
        padding-bottom: 15px !important;
    }

    .qus-para {
        font-size: 16px;

    }

    /* Benefits cards section */
    .benefints-cards {
        padding-top: 37px;
    }

    .card-logo {
        height: 90px;
        width: 90px;
    }

    .cards-heading {
        font-size: 16px;
    }

    .card-para {
        font-size: 13px;
    }

    .cards-text-body {
        height: 169px;
        display: flex;
    }

    .primary-nav {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 5;
        background-color: #fff;
        transform: translateX(100%);
    }

    .primary-nav-list {
        display: block;
        padding: 20px 10px;
    }

    .primary-nav-list li {
        margin-bottom: 20px;
    }

    .primary-nav-list li a {
        font-size: 20px;
    }



    html {
        font-size: 8px !important;
    }

    /* programmes */
    .pad-ool {
        padding: 23px 28px;

    }

    .prog-para {
        padding: 0px 45px;
    }

    .card-heading-section {
        padding-top: 1px;
        padding-bottom: 11px;
    }

    .btn-secgtion {
        padding-bottom: 47px !important;
    }

    .question-section {
        margin-top: 10px;
    }



    /* A-W-media */
    html {
        font-size: 8px !important;
    }

    .pad-lo {
        padding: 0;
    }


    .pad-ool {
        padding: 0;
    }

    .text-rr {
        padding: 0;
        padding-top: 50px;
    }

    .text-c-m {
        text-align: center;
    }

    .pb-177 {
        padding-bottom: 67px;
    }

    .pt-30-s {
        padding-top: 30px;
    }

    .cover-s {
        background-size: cover;
    }

    .box-sign-io {
        padding: 50px 20px;

    }

    .py-50-s {
        padding: 50px 0;
    }

    .j-c-m {
        justify-content: center;

    }

    /* work-ready2 UN */
    .sabHed2 {
        font-size: 40px;
        font-weight: 700;
        color: var(--orng);
        margin-bottom: 35px;
    }

    .work-banner2 {
        padding-top: 0;
    }

    /* work-ready-2 */
    .img-fluid-w-r {
        transform: translateY(-80px);
    }

    .pack-sec-wkrd {
        padding: 23px 0;
    }

    .wr-banHed {
        font-size: 26px;
    }

    .wr-ry-para {
        padding-top: 15px;
    }

    /* events section */
    .event-card {
        margin-left: -60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fv-sp-hd {
        font-size: 15px;

    }

    .mt-s-100 {
        margin-top: 100px;
    }

    .mt-m-100 {
        margin-top: 100px;
    }

    .mt-m-50 {
        margin-top: 50px;
    }

    .box-ggg {
        width: 381px;
    }

    .mb-m-30 {
        margin-bottom: 30px;
    }

    .fv-sp-hd2 {
        font-size: 25px;
        transform: translateY(-3px);
    }

    .active-fv {
        font-size: 14px;
    }

    .tex-fv-link {
        font-size: 14px;
    }

    .image-areas {
        padding-top: 24px;
    }

    /* UN form-card */
    .work-banner3 {
        margin-bottom: 0px;
    }

    .fm-in-para {
        font-size: 15px;
    }

    .sb-in-para {
        font-size: 16px;
    }

    /* unair */
    .hero-banner {
        padding-top: 60px;
    }
    .section {
        padding-top: 50px;
    }
    .card-sec {
        padding: 40px 0;
    }
    /* .bannn3para {
        font-size: 10px;
        transform: translateY(-28px);
        padding-left: 90px;
    } */

}

/* !!==tablate==!! */

@media (max-width:991px) {}




@media (max-width: 1527px) {
    .container {
        max-width: 90% !important;
    }

    .banHed {
        font-size: calc(20px + 3vw);
    }

    .sabHed,
    .banHedMe,
    .footHD {
        font-size: calc(17px + 1.6vw);
    }

    .footer {
        background-size: cover;
        background-position: top center;
    }

    .top-0-io {
        top: 0;
    }

    .mt-l-100 {
        margin-top: 100px;
    }

    .box-ggg {
        width: 280px;
    }
}

/* mobile */
@media (max-width:767px) {
    .pt-s-15 {
        padding-top: 15px;
    }

    .mt-s-0 {
        margin-top: 0px;
    }

    .mb-s-15 {
        margin-bottom: 15px;
    }

    .textArea {
        text-align: start;
        padding-top: 30px;
    }

    .banHed {
        font-size: 40px;
    }

    .banHedMe {
        font-size: 29px;
    }

    .banPara {
        font-size: 15px;
    }

    .sabHed {
        font-size: 40px;
        text-align: start;
    }

    .sabPara {
        font-size: 13px;
        
    }
    
    .btn1 {
        padding: 13px 23px;
        font-size: 13px;
    }

    .banImg {
        padding-top: 40px;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .banImg2 {
        padding: 0;
    }

    .pakageData {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .pakages {
        width: 100%;
    }

    .slid-con {
        margin-top: 20px;
    }

    .banPara {
        font-size: 12px;
    }

    .pakag {
        margin-top: -48px;
    }

    .btnView {
        margin: 0;
    }

    .banners {
        padding-top: 29px;
    }


    .footHD {
        font-size: 20px;
    }

    .Footbtn1 {
        width: 160px;
        font-size: 10px;
    }

    .ftlinksec {
        padding-top: 2px;
    }

    .ftmember2 {
        margin-top: 41px;
    }

    .footer-inner {
        padding: 0px 0 30px;
    }

    .slid-cont {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .revers {
        display: flex;
        flex-direction: column-reverse;
    }

    .textArea3 {
        text-align: start;
        margin-top: 10px;
    }

    .bene-heading {
        font-size: 19px;
    }

    .benepara {
        font-size: 12px;
    }

    .othHD {
        font-size: 21px;
        padding-top: 50px;
    }

    .qus-para {
        font-size: 10px;
    }

    .cardes {
        margin-top: 20px;
    }

    /* benefites cards */
    .btn1 {
        width: 149px;
        font-size: 13px;
    }

    .p_g-para {
        font-size: 15px;
    }


    /* !!!!====other-pages===!!!! */

    html {
        font-size: 7px !important;
    }

    .p-s-40 {
        padding: 40px;
    }

    .mt-s-50 {
        margin-top: 50px;
    }

    .pad-lo {
        padding: 0;
    }

    .box-ggg {
        width: 381px;
    }

    .pad-ool {
        padding: 0;
    }

    .text-c-s {
        text-align: center;
    }

    .pb-177 {
        padding-bottom: 67px;
    }

    .bg-card {
        min-height: 200px;
        height: auto;
    }

    .cover-s {
        background-size: cover;
    }

    .sec-po {
        min-height: 600px;
        height: auto;
    }

    .pt-30-s {
        padding-top: 30px;
    }

    .pb-30 {
        padding-bottom: 15px;
    }

    .m-io-0 {
        margin: 0;
    }

    .top-s-0 {
        top: 0;
    }

    .top-s-35 {
        top: 35px;
    }

    .col-revers {
        flex-direction: column-reverse;
    }

    .box-sign-io {
        padding: 50px 20px;
    }

    .py-50-s {
        padding: 50px 0;
    }

    .box-xx {
        width: 100%;
    }

    .input-ff {
        min-height: 40px;
        height: auto;
    }

    .py-s-30 {
        padding: 30px 0;
    }


    /* my css */
    .pack-sec {
        background-size: cover;
    }

    .hero-banner {
        padding-top: 60px;
    }

    .section {
        padding-top: 50px;
    }

    .card-sec {
        padding: 60px 0;
    }

    .pakages:hover {
        transform: translateY(0);
    }

    .pakages {
        min-height: 550px;
        z-index: 5;
        position: relative;
    }

    .primary-nav-list a {
        color: var(--orng);
    }

    /* my css */

    /* work-reay-2 */
    .wr-banImg {
        display: none;
    }

    .wr-banHed {
        font-size: 15px;
    }

    /* events section */
    .sport-sec {
        margin-left: 0px;
        text-align: start;
    }

    .gam-img-sec {
        display: none;
    }

    .event-card {
        margin: 20px auto;
    }

    .wr-ry-para-evt {
        padding-right: 0px;
    }

    .fav-heading {
        display: block;
    }

    .share-sec {
        padding-left: 0px;
        padding-top: 10px;
    }

    .work-banner-evnt {
        padding-top: 29px;
    }

    .event-dt-trem {
        margin-top: 19px;
    }

    .event-hd {
        font-size: 20px;
    }

    .ev-trem-list ul li {
        font-size: 12px;
    }

    .container {
        max-width: 100% !important;
    }

    /* Un */
    .fm-in-para {
        font-size: 15px;
        padding: 8px 4px;
    }

    .rel {
        padding-top: 10px;
    }

    .card-heading-section2-fm {
        padding-bottom: 5px;
    }

    .sb-in-para {
        font-size: 14px;
        padding-top: 15px;
        padding-bottom: 14px;
    }

    /* unair */
    /* .bannn3para {
        font-size: 10px;
        transform: translateY(-42px);
        padding-left: 260px;
    } */
    .sbpara3{text-align: start;}
    .sabPara2 {
        padding: 0 0px;
    }

}